  .overlay {
      position:absolute;
      top:0;
      left:0;
      right:0;
      height:100%;
      overflow-y: scroll;
      background-color:rgba(0, 0, 0, 0.75);
      background-repeat: repeat scroll transparent;
 	  z-index:-999;
      color:white;

 }
 
 .blocks{
 	padding-left:3%;
 	padding-right:3%;
 	padding-top:3%;
 	color:black;
 }
 
 .color-box {
    width: 20px;
    height: 20px;
}

body{
	height:100%;
}
